<div class="header">
  <div class ="inner">
    <div class ="nav">
      <div class ="nav-left">
        <%= link_to "投稿一覧", desks_path, class: :logo %>
        <% if user_signed_in? %>
          <%= link_to "掃除提案", suggestions_path, class: :logo %>
        <% end %>
      </div>
       <% if user_signed_in? %>
        <div class ="nav-right">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
          <%= link_to current_user.nickname, "#", class: :nav__btn %>
        </div>
      <% else %>
        <div class ="nav-right">
          <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
          <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
        </div>
      <% end %>
    </div>
  </div>
</div>