<%= render "shared/desk_header" %>

<%# 画像一覧 %>

<div class = "wrapper grid">
  <% @desks.each do |desk| %>
    <%= link_to desk_path(desk.id) do %>
        <%= image_tag desk.image, class: "desk-img" %>
        <p>
          <%= desk.title %>
          <%= "by#{desk.user.nickname}さん" %>
        </p>
    <% end %>
  <% end %>
</div>

<%# /画像一覧 %>

<%# アイコン %>
<%=link_to clean_suggestions_path do %>
  <div class='suggestion-index-btn'>
    <span class='suggestion-btn-text'>掃除提案</span>
    <span class='suggestion-btn-text'>
      <%= image_tag 'calender.png' , size: '50x50' ,class: "desk-btn-icon" %>
    </span>
  </div>
<% end %>

<%=link_to new_desk_path do %>
  <div class='desk-btn'>
    <span class='desk-btn-text'>投稿する</span>
    <span class='desk-btn-text'>
      <%= image_tag 'desk.png' , size: '50x50' ,class: "desk-btn-icon" %>
    </span>
  </div>
<% end %>