<%= render "shared/desk_header" %>
<%= link_to "画像を投稿する", new_desk_path%>

<%# 画像一覧 %>

<div class = "wrapper grid">
  <% @desks.each do |desk| %>
    <%= link_to desk_path(desk.id) do %>
      <div class = "desk-item">
        <%= image_tag desk.image, class: "desk-img" %>
        <p>
          <%= desk.title %>
          <%= "by#{desk.user.nickname}さん" %>
        </p>
      </div>
    <% end %>

  <% end %>
</div>





<%# /画像一覧 %>

<%# 画像投稿アイコン %>
<%=link_to new_desk_path do %>
  <div class='desk-btn'>
    <span class='desk-btn-text'>投稿する</span>
    <span class='desk-btn-text'>
      <%= image_tag 'desk.png' , size: '50x50' ,class: "desk-btn-icon" %>
    </span>
  </div>
<% end %>