<%= render "shared/desk_header" %>
<%= link_to "画像を投稿する", new_desk_path%>

<%# 画像一覧 %>
<div class='desk-contents'>
  <ul class='desk-lists'>

    <% @desks.each do |desk| %>
      <li class='list'>
        <%= link_to desk_path(desk.id) do %>
          <div class='desk-img-content'>
            <%= image_tag desk.image, size: '100x100', class: "desk-img" %>
          </div>
          <div class='desk-info'>
            <h3 class='desk-tiutle'>
            <%= desk.title %>
          </h3>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<%# /画像一覧 %>

<%# 画像投稿アイコン %>
<%=link_to new_desk_path do %>
  <div class='desk-btn'>
    <span class='desk-btn-text'>投稿する</span>
    <span class='desk-btn-text'>
      <%= image_tag 'desk.png' , size: '50x50' ,class: "desk-btn-icon" %>
    </span>
  </div>
<% end %>