<%= form_with model: @desk, class: 'registration-main', local: true do |f| %>
  <div class ="form-wrap">
    <div class='form-header'>
      <h1 class='form-header-text'>
        新規投稿画面
      </h1>
    </div>
    <%= render 'shared/error_messages', model: f.object %>
    <%# フォーム(画像タイトル) %>
    <div class ="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">画像タイトル</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :title, class:"input-default", placeholder: "タイトル" %>
    </div>
    <%# /フォーム(画像タイトル) %>
    <%# 投稿画像 %>
    <div class="form-group">
      <div class="form-text">
        投稿画像
      <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /投稿画像 %>
    <%# フォーム(コンセプト) %>
    <div class ="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">コンセプト</label>
        <span class="indispensable">必須ではありません</span>
      </div>
      <%= f.text_area :concept, class:"input-default", placeholder: "自慢しましょう" %>
    </div>
    <%# /フォーム(コンセプト) %>
    <%# 投稿ボタン %>
    <div class='login-btn'>
      <%= f.submit "投稿する", class: "login-blue-btn" %>
    </div>
  </div>
<% end %>